<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles/admin.css">
    <title>admin index</title>
</head>
<body>
<header>
    <a class="button" href="{{ url_for('admin.info_new_music') }}"> new music </a>
    <a class="button" href="{{ url_for('admin.music_list') }}"> music list</a>
    <a class="button" href="{{ url_for('admin.user_list') }}"> user list </a>
</header>
<div class="col-lg-offset">
    
    <img src="{{ url_for('static' , filename='img/bamdad-mic.jpg') }}" class="bg-image">
</div>
</body>
</html>