<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles/loguot.css">
    <title>Login</title>
</head>
<body>
    {% include 'header.html' %}
    <p dir='rtl' class="message">با موفقیت وارد شدید </p>
</body>
</html>
