<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
</head>
<body>
<div class="container">
    <form method="post" action="{{ url_for('user.changed_password', user=session.get('user')) }}">
        {{ change_pass.hidden_tag() }}
        <div class="tbox">
            {{ change_pass.old(placeholder="Old Password") }}
        </div>
        <div class="tbox">
            {{ change_pass.new(placeholder="New Password" ,minlength ="8") }}
        </div>
        <div class="tbox">
            {{ change_pass.confirm(placeholder="New Password" ,minlength ="8") }}
        </div>
        <input type="submit" value="Change" class="btn">
    </form>
</div>
</body>
</html>