<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles/home.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bamdadam Man</title>
</head>
<body>
{% include 'header.html' %}

    <div class="music-box-wrapper">
        {% for music in musics%}
        <section class="container">

            <div class="music-box">
                <a href="{{ url_for('musics.single_music' , name=music.name) }}" class="music-items">
                    <img src="{{ music.photo }}" class="music-images">
                </a>
                <p class="music-name">{{ music.name }}</p>
                <audio preload="auto" controls class="audio-controller">
                    <source src={{ music.link_download }}>
                </audio>
            </div>
        </section>
       
    {% endfor %}
    </div>

        <!-- Footer -->
    <footer id="footer">
        <div class="footer-left">
            <a href=""><img src="/static/img/Github.png" alt="Twitter" class="footer-icon"></a>
            <a href=""><img src="/static/img/Twitter.png" alt="Twitter" class="footer-icon"></a>
            <a href=""><img src="/static/img/Instagram.png" alt="Twitter" class="footer-icon"></a>
        </div>
    
        <div class="footer-center">
            <div class="copyright">
                &copy;2020 Bamdadam-Man
            </div>
        </div>
    
        <div class="footer-right">
            About Us: <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Autem dolorem debitis quos possimus sunt quibusdam adipisci tenetur <br>
            voluptatum porro odio iure sit a ex error, ad eum libero in impedit.
        </div>
    </footer>

</body>

</html>