<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/login.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1>LOG IN</h1>
    <form action="{{ url_for('user.veryfi')}}" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
       <div class="tbox">
            {{login.hidden_tag()}}
            {{login.user(placeholder="User")}}
       </div>
        <div class="tbox">

            {{login.password(placeholder="Password" ,minlength ="8")}}
        </div>
        <input type="submit" value="Log In" class="btn">
    </form>
</div>
</body>
</html>