<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
</head>
<body>
    <table>
        <caption>Users</caption>
        <thead>
        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Album</th>
            <th>Link</th>
            <th>artist</th>
            <th>Delete</th>


        </tr>
        </thead>
        <tbody>

        {% for music in music_list %}
            <tr>
                <td data-label="ID">{{ music.id }}</td>
                <td data-label="Name">{{ music.name or '-' }}</td>
                <td data-label="Album">{{ music.album }}</td>
                <td data-label="Link">{{ music.link }}</td>
                <td data-label="artist">{{ music.artist }}</td>
                <td data-label="Delete">
                <a href="{{ url_for('admin.delete_music', music_id=music.id) }}" class="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>