<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/login.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles/add-music.css">
    <title>admin</title>
</head>
<body>
    <p class="message">hi admin</p>
    <div class="container">
    <form action="{{ url_for('admin.create')}}" method="post" , enctype="multipart/form-data" class="form">
        <div class="tbox">
            {{form.hidden_tag()}}
            {{form.name(placeholder="name")}} <br>
        </div>
        <div class="tbox">
            {{form.album(placeholder="album")}} <br>
        </div>
        <div class="tbox">
            {{form.link(placeholder="link")}} <br>
        </div>
        <div >
            <p>music</p>{{form.file()}} <br>
        </div>
        <div class="tbox">
            {{form.info(placeholder="info")}} <br>
        </div>
        <div class="tbox">
            {{form.artist(placeholder="artist")}} <br>
        </div>
        <div>
             <p>photo</p>{{form.photo()}} <br>
        </div>
        
        <input type="submit" class="btn">
        
        
    </div>
    </form>
</body>
</html>