<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles/profile.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
{% include 'header.html' %}
<div dir="rtl" class="info">
    <h3 class="user-info">اطلاعات کاربری</h3>
    <p> نام‌ : ‌{{ info.name }}</p>
    <p>نام کاربری‌ :‌ {{ info.user }}</p>
    <p>ایمیل‌ :‌ {{ info.email }}</p>
    <a href="{{ url_for("user.change_password", user = session.get('user')) }}">تغییر پسورد</a>
</div>
</body>
</html>