<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/static/styles/single-music.css">
    <link rel="stylesheet" href="/static/styles/home.css">
    <title>{{ post.name }}</title>
</head>
<body style="background-color: black">
{% include 'header.html' %}
    <div class="content">
        <div class="single-music-box">
            <img src="{{ post.photo }}" class="single-music-images">
            <p class="text single-tittle">{{ post.name }}</p>
            <p class="text"> البوم‌ : {{ post.album }}‌</p>
            <p class="text">خواننده : {{ post.artist }} </p>
            <p class="text">{{ post.info }}</p>
            <p class="text"> پخش انلاین</p>
            <input type="button" id="LikePost" value="Like">
            <audio preload="auto" class="audio-control" controls>
                <source src = {{ post.link_download }}>
            </audio>
            
        </div>

            <a class="download-music" href="{{ post.link_download }}" download style="color: black;">دانلود آهنگ</a>

        <br>
    </div>

    <script src="/static/styles/script.js"></script>

        <!-- Footer -->
    <footer id="footer">
        <div class="footer-left">
            <a href=""><img src="/static/img/Github.png" alt="Twitter" class="footer-icon"></a>
            <a href=""><img src="/static/img/Twitter.png" alt="Twitter" class="footer-icon"></a>
            <a href=""><img src="/static/img/Instagram.png" alt="Twitter" class="footer-icon"></a>
        </div>
    
        <div class="footer-center">
            <div class="copyright">
                &copy;2020 Bamdadam-Man
            </div>
        </div>
    
        <div class="footer-right">
            About Us: <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Autem dolorem debitis quos possimus sunt quibusdam adipisci tenetur <br>
            voluptatum porro odio iure sit a ex error, ad eum libero in impedit.
        </div>
    </footer>
</body>

</html>