<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
</head>
<body>
    <table>
        <caption>Users</caption>
        <thead>
        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>User</th>
            <th>Delete</th>


        </tr>
        </thead>
        <tbody>

        {% for users in users_list %}
            <tr>
                <td data-label="ID">{{ users.id }}</td>
                <td data-label="Name">{{ users.name or '-' }}</td>
                <td data-label="Email">{{ users.email }}</td>
                <td data-label="User">{{ users.user }}</td>
                <td data-label="Delete">
                <a href="{{ url_for('admin.delete_user', user_id=users.id) }}" class="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>