.message{
    text-align: center;
    border-bottom: 4px solid red;
    text-transform: uppercase;
    border-radius: 2    px;
    padding-top: 20px;
    margin: auto;
    width: max-content;
    font-size: 2rem;

}
.form{
    margin-top: 7%;
}