
    /* body styles */
body{
    background-color: #333;
    position: relative;
    padding-bottom: 200px;

}
.music-box-wrapper{
    width: 80%;
    display: flex;
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

    /* Respinsive */
@media only screen and (max-width: 300px) {
    .music-box-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
    body{
        background-color: #333;
        position: relative;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .music-box-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
    body{
        background-color: #333;
        position: relative;
        padding-bottom: 100%;
    }

}
@media only screen and (max-width: 800px) {
    .music-box-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
    body{
        background-color: #333;
        position: relative;
        padding-bottom: 100%;
    }
    .music-images:hover , .music-images:active, .music-images:focus{
        opacity: 100%;
        transform: scale(1.1);
    }
}


.container{
    text-align: center;
    color: black;
    padding-top: 28px; 
    padding-bottom: 28px; 
}
    /* music box styles (each musics) */
.music-box{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    width: max-content;
    max-width: 88vh;
    padding: 15px 3.1px 2px 3.1px;
    align-items: center;
    float: left; 
}
    /* music box image */
.music-images{
    height: 35vh;
    width: 33vh;
    border-radius: 5px;
    opacity: 60%;
    transition: all 0.5s;  

}
.music-images:hover , .music-images:active, .music-images:focus{
    opacity: 100%;
    transform: scale(1.1);
}
    /* music box tittle styles */
.music-name{
    color: white;
    font-size: 3vh;
    border-radius: 10px;
    padding-top: 2.5px;
    padding-bottom: 10px;
    position: relative;

}
.music-name::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 80px;
    background-color: #2ecc71;
    border-radius: 10px;

}

    /* audio controller styles */
.audio-controller{
    border-radius: 25px;
    height: 35vh;
    height: max-content;
    padding: 5px;
}

#footer{
    position: absolute;
    bottom: 0;
    height: 10  %;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);

}
.footer-center{
    font-size: 2vh;
    color: #2ecc71;
    margin: auto;
    text-align: center;
    

}
.footer-right{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.8vh;
    margin: auto;
}
.footer-icon{
    display: block;
    width: 30px;
    padding-top: 10px;
    transition: all 0.5s;
}
.footer-icon:hover{
    width: 35px;
}

.footer-left{
    margin: auto;
}
