body{
    background-color: black;
}


.message{
    padding-top: 25%;
    padding-bottom: 10px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.9);
    margin: auto;
    text-align: center;
    border-bottom: 1px solid red;
    border-radius: 1px;
    height: max-content;
    width: max-content;
}