body{
    background-color: rgba(0, 0, 0, 1);
    
}

.info{
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 66px;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: 9%;
    word-spacing: 2px;
}
.user-info{
    color: #000000;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
}

.info a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.6rem;
    transition: all 0.5s ;
    border-bottom: 1px solid red;
    border-radius: 1px;
    padding-bottom: 8px;
}
.info a:hover{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.9rem;
}