
.content{
    padding-top: 28px; 
}
@media only screen and (max-width: 600px) {
    
    .content{
        padding-bottom: 10%; 
    }
    .single-music-images:hover{
        width: 43vh;
        opacity: 100%;
        transition: all 0.5s;
    
    }
}
@media only screen and (max-width: 700px) {
    
    .content{
        padding-bottom: 5%; 
    }

    .single-music-images:hover{
        width: 43vh;
        opacity: 100%;
        transition: all 0.5s;
    
    }
}
.single-music-box{
    text-align: center;
    margin:auto;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    direction: rtl;

}
.audio-control{
    width: 75%;
    border-radius: 35px;

}
.single-music-images{
    width: 40vh;
    opacity: 80%;
    transition: all 0.5s;
    border-radius: 35px;

}
.single-music-images:hover{
    width: 43vh;
    opacity: 100%;
    transition: all 0.5s;

}

.download-music{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    width: max-content;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 35px;
    padding-left: 10px;

    padding-right: 10px;

}
.download-music:hover{
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 4px solid #2ecc71;
    border-radius: 2px;
    cursor: pointer;

}
.text{
    color:333;
    font-size: 2vh;
    text-align: center;
}
.single-tittle{
    color: white;
    font-size: 3vh;
    border-radius: 10px;
    padding-top: 2.5px;
    padding-bottom: 10px;
    position: relative;
}
.single-tittle::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 80px;
    background-color: #2ecc71;
    border-radius: 10px;
}
#LikePost{
    background-color: #0B3EBD;
    opacity: 50%;
    color: white;
    border-radius: 35px;
    position: relative;
    bottom: 12px;
}
#LikePost:hover{
    opacity: 100%;
}
#LikePost:active{
    opacity: 100%;
    color: red;
}

    /* Controls style */

/* .controlls{
    display: flex;
    position: absolute;
    bottom: 22%;
    width: 90%;
    left: 5%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1px;
}
.buttons button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;

}
.buttons{
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}
.buttons button{
    padding: 1px;
    margin: 5px;
    width: 12px;
    height: 16px;
    border-top: 8px solid transparent;
    border-left: 12px solid #2ecc71;
    border-bottom: 8px solid transparent;
}
.buttons button.play::before{
    content: '';
}
.buttons button.pause::before{
    width: 12px;
    height: 16px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
}

.green-bar{
    height: 6.5px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.green-juice{
    height: 6.5px;
    width: 100%;
    background-color: #2ecc71;
} */